#login-container {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: var(--title-height) min-content auto;

	.inputs-section {
		display: flex;
		flex-wrap: wrap;

		justify-content: center;
		align-content: flex-start;

		.text-input {
			margin-top: 40px;
			width: 70%;
		}
	}

	.buttons-section {
		align-self: flex-start;

		display: flex;
		flex-wrap: wrap;

		justify-content: center;
		align-content: center;

		margin-top: var(--buttons-height);

		gap: 30px;
		.rect-button {
			--back-color: var(--white);

			width: 70%;
		}
	}
}
