.input-container {
	--back-color: var(--white);
	--border-color: var(--grey);
	--active-color: var(--main);
	--label-color: var(--grey);
	--font-size: 16px;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: var(--inputs-height);

	border-radius: var(--radius);

	position: relative;

	.input {
		border: none;
		outline: none;

		height: var(--inputs-height);
		width: 100%;
		height: 100%;

		border-radius: var(--radius);
		text-indent: 16px;

		font-size: var(--font-size);

		background-color: var(--back-color);
		outline: 1px solid var(--border-color);

		color: var(--black);
	}

	.label {
		pointer-events: none;
		position: absolute;
		left: 16px;
		top: calc(48% - (var(--font-size) / 2));

		color: var(--label-color);
		background-color: var(--back-color);

		transition-duration: 300ms;
		font-size: var(--font-size);

		height: var(--font-size);
	}

	&.filled .label {
		color: var(--label-color);
		top: calc(-1 * var(--font-size) * 0.7);
		padding: 0px 10px;
	}

	&:focus-within {
		.input {
			outline: 2px solid var(--active-color);
		}

		.label {
			color: var(--active-color);
			top: calc(-1 * var(--font-size) * 0.7);
			padding: 0px 10px;
		}
	}
}
