#login-container {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: var(--title-height) auto 200px;
}

#login-container .inputs-section {
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
	align-content: flex-start;
}

#login-container .buttons-section {
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
	align-content: flex-start;
}

#login-container .inputs-section .text-input {
	margin-top: 40px;
	width: 70%;
}

#login-container .buttons-section .rect-button {
	margin-top: 30px;
	width: 70%;
}
