@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
	--main-color: #5e60ce;
	--main: var(--main-color);

	--dark-1: #6930c3;
	--dark-2: #7400b8;
	--dark-3: #3c096c;
	--dark-4: #240046;

	--light-1: #5390d9;
	--light-2: #4ea8de;
	--light-3: #48bfe3;
	--light-4: #64dfdf;
	--light-5: #caf0f8;

	--black: #303030;
	--white: #e4e4e4;
	--error: #d84654;
	--error-text: #86092c;

	--grey: #5c5c5c;
	--light-grey: #b8b8b8;
	--dark-grey: #212121;

	--back: var(--light-grey);

	--title-height: 100px;
	--inputs-height: 48px;
	--buttons-height: 48px;
	--notification-height: 70px;

	--radius: 6px;

	font-size: 16px;
}

* {
	padding: 0px;
	margin: 0px;

	font-family: 'Roboto';

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 100vw;
	min-height: 100vh;
}
